body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  

  .container {
    position: relative;
  }
  

  .photo {
    display: none;
  }
  
  

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 75%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(84, 83, 83);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;

  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.392);
  }